# vscode stuff
.vscode
*.o

# assignments (files which are modified)
class/*
class/.gitkeep

!class/assignments
class/assignments/*

# assignment 1
!class/assignments/PA1
class/assignments/PA1/*
!class/assignments/PA1/stack.cl
!class/assignments/PA1/README
!class/assignments/PA1/*.test

# assignment 2
!class/assignments/PA2
class/assignments/PA2/*
!class/assignments/PA2/*.flex
!class/assignments/PA2/README
!class/assignments/PA2/test*.cl

# assignment 3
!class/assignments/PA3
class/assignments/PA3/*
!class/assignments/PA3/*.y
!class/assignments/PA3/*.aps

# assignment 4
!class/assignments/PA4
class/assignments/PA4/*
!class/assignments/PA4/*.h
!class/assignments/PA4/*.cc
!class/assignments/PA4/*.cl